<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <p>20% de descuento en todos los productos!</p>
        <div>
            <img src="../img/logo.jpg" alt="Este es el logo de la tienda">
            <h1>Nombre Tienda</h1>
        </div>
        <div class="menu">
            <nav>
                <ul type="none">
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="registro.html">Registrarme</a></li>
                    <li><a href="cards.html">Ingresar</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="cards">
            <article class="caja1 caja">
                <div class="top">
                    <i class="fas fa-heart"></i>
                </div>
                <div class="contenido">
                    <img src="../img/batman.jpg" alt="Esta es una imagen de batman">
                    <h4>Batman</h4>
                    <p>Batman (conocido inicialmente como Bat-Man) es un personaje creado por los estadounidenses Bob Kane y Bill Finger, y propiedad de DC Comics. Apareció por primera vez en la historia titulada «El caso del sindicato químico» de la revista Detective Comics N.º 27, lanzada por la editorial National Publications el 30/3/1939.</p>
                    <a href="#">
                        <button>Ver más</button>
                    </a>
                </div>
            </article>
            <article class="caja2 caja">
                <div class="top">
                    <i class="fas fa-heart"></i>
                </div>
                <div class="contenido">
                    <img src="../img/mujerMaravilla.jpg" alt="Esta es una imagen de la mujer maravilla">
                    <h4>Mujer Maravilla</h4>
                    <p>Es una superheroína creada por William Moulton Marston para la editorial DC Comics. Es una princesa guerrera de las Amazonas, pueblo ficticio basado en el de las amazonas de la mitología griega. En su tierra natal es conocida como la princesa Diana de Temiscira pero fuera de esta utiliza la identidad secreta de Diana Prince. </p>
                    <a href="#">
                        <button>Ver más</button>
                    </a>
                </div>
            </article>
            <article class="caja3 caja">
                <div class="top">
                    <i class="fas fa-heart"></i>
                </div>
                <div class="contenido">
                    <img src="../img/superman.jpg" alt="Esta es una imagen de superman">
                    <h4>Superman</h4>
                    <p>Es un superhéroe que apareció por primera vez en los cómics estadounidenses publicados por DC Comics. ​
                    El personaje fue creado por el escritor estadounidense Jerry Siegel y el artista canadiense Joe Shuster en 1933 cuando ambos se encontraban viviendo en Cleveland, Ohio.</p>
                    <a href="#">
                        <button>Ver más</button>
                    </a>
                </div>
            </article>
            <article class="caja4 caja">
                <div class="top">
                    <i class="fas fa-heart"></i>
                </div>
                <div class="contenido">
                    <img src="../img/harley.jpg" alt="Esta es una imagen de herley quinn">
                    <h4>Harley quinn</h4>
                    <p>Harley Quinn es un personaje ficticio creado por los estadounidenses Paul Dini y Bruce Timm para la editorial DC Comics. Quinn hizo su debut en el vigésimo-segundo episodio de Batman: la serie animada, «El favor del Joker», en septiembre de 1992 y se convirtió en una villana recurrente en la serie</p>
                    <a href="harley.html">
                        <button>Ver más</button>
                    </a>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <p>Todos los derechos reservados a <span>front end 1</span></p>
    </footer>

</body>
</html>