<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harley Queen</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <p>Estamos hechos unos locxs</p>
        <h2>Harley Quinn</h2>
    </header>
    <main>
        <section class="harley">
            <article>
                <img class="principal" src="../img/harley.jpg" alt="Esta es una imagen de herley quinn">
                <h4>Harley quinn</h4>
                <p><span>Harley Quinn </span>(nombre real <span>Dra. Harleen Frances Quinzel</span>) es un personaje ficticio creado por los estadounidenses Paul Dini y Bruce Timm para la editorial DC Comics. Quinn hizo su debut en el vigésimo-segundo episodio de Batman: la serie animada, «El favor del Joker», en septiembre de 1992 y se convirtió en una villana recurrente en la serie, posee una excelente agilidad y es rápida peleando, solo es superada por Batman y el Joker. Su agilidad se debe a ser una gimnasta y una acróbata.</p>
                <img src="../img/pag_harley.jpg" alt="dibujos de armas de harley quinn">
                <div>
                    <a href="cards.html">
                        <button>Volver al home</button>
                    </a>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <p>Todos los derechos reservados a <span>front end 1</span></p>
    </footer>
</body>
</html>