<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <p>20% de descuento en todos los productos!</p>
        <div>
            <img src="../img/logo.jpg" alt="Este es el logo de la tienda">
            <h1>Nombre Tienda</h1>
        </div>
    </header>
    <main class="forms">
        <section class="forms">
            <h2>Registro</h2>
            <form action="contacto.html" method="POST">
                <div>
                    <input type="text" placeholder="Nombre y Apellido" name="name">
                </div>
                <div>
                    <input type="text" placeholder="Correo electrónico" name="email">
                </div>
                <div>
                    <input type="password" placeholder="Contraseña" name="password">
                </div>
                <div>
                    <select name="pais" value="Pais">
                        <option value="arg">Argentina</option>
                        <option value="col">Colombia</option>
                        <option value="br">Brasil</option>
                    </select>
                </div>
                <div class="botones">
                    <input type="reset" value="Resetear">
                    <input type="submit" class="submit2" value="Registrar">
                </div>
                <p>
                    ¿Ya tienes una cuenta?
                    <a href="contacto.html">Ingresá</a>
                </p>
            </form>
        </section>
    </main>
    <footer>
        <p>Todos los derechos reservados a <span>front end 1</span></p>
    </footer>
</body>
</html>